*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 1rem 0.1rem 0.1rem 0.1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem ;
}

.icone{
    margin-right: 0.5rem;
}

h2{
    padding-bottom: 1rem;
}

.loader {
    background: white;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    padding-top: 170px;
    position: fixed;

    z-index: 9999;
    top: 0;
    left: 0;
    pointer-events: none;
    animation: loader 1s ease-in-out 1s forwards;
}

.loader__chef{
    width: 10rem;
    height: auto;
}

@keyframes loader {
    0% {
      opacity: 1;
      transform: rotate(0deg);
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
      transform: rotate(180deg);
    }
  }


/* Header......................................... */

.header{
    /* border: solid 2px green; */

    text-align: center;
}

.header__image{
    height: auto;
    width: 10rem;
}


/* Localisation................................... */

.localisation{
    /* border: solid 2px red; */

    background: #EAEAEA;
    display: flex;
    justify-content: center;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: solid 2px #CCCCCC;
    margin-top: 1rem;
}


/* Réservation.................................... */

.reservation{
    background: #F6F6F6;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.reservation__txt{
    /* border: solid 2px purple; */

    text-align: center;
}

.reservation__explorer{
    /* border: solid 2px blue; */

    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.reservation__bouton{
    border-radius: 20rem;
    padding: 0.75rem;
    background: linear-gradient(#EB73DA, #9356DC);
    font-weight: bold;
    color: white;
    border: none;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 25%);
}

.reservation__bouton:hover{
    filter: brightness(1.1);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 50%);
}


/* Fonctionnement................................. */

.fonct{
    /* border: solid 2px green; */
    margin-top: 1.5rem;
}

.fonct__sousmenu{
    /* border: solid 2px purple; */

    display: flex;
    justify-content: space-around;
    align-items: baseline;

    margin: 0 auto 1rem auto;
    padding: 1rem;
    border-radius: 1rem;

    width: 80%;
    background: #F6F6F6;
    box-shadow: 5px 10px 5px #E6E6E6;

    font-weight: bold;

}

.fonct__number{
    background: #9356DC;
    color: white;

    width: 1.5rem;
    height: 1.5rem;
    border-radius: 20px;

    text-align: center;
    padding-top: 0.2rem;

    margin-left: -2.7rem;
}


/* Restaurants.................................... */

.restau__icone{
    position: relative;
}

.iconer:hover{
    font-weight: 900;
    background: linear-gradient(#EB73DA, #9356DC);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


.restau{
    /* border: solid 2px fuchsia; */
    
    margin-top: 2rem;
    padding-top: 2rem;
    background: #F6F6F6;
}


.restau__apercu{
    /* border: solid 2px red; */

    border-radius: 1rem;
    margin-bottom: 1rem;
    height: 12.5rem;

    background: white; 
}


.restau__photo{
    object-fit: cover;
    width: 100%;
    height: 70%;
    max-width: 100%;
    max-height: 100%;

    border-radius: 1rem 1rem 0 0;

    position: relative;
}


span{
    background: #99e2d0;
    position: absolute;
    margin-left: -5rem;
    margin-top: 1rem;
}

.restau__texte{
    /* border: solid 2px blue; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 2rem 0.5rem 0.75rem;
}


/* Footer......................................... */

.footer{
    /* border: solid 2px blue; */

    background: #353535;
    color: white;

    padding: 1rem;
   
    line-height: 1.5rem;
}

h3{
    font-family: 'Shrikhand', cursive;
    font-weight: lighter;
    padding-bottom: 0.5rem;
}

.footer__line{
    display: flex;
    align-items: baseline;
}




/* RESPONSIVE.............................................. */
/* ........................................................ */




@media (min-width:1180px){


    /* Body 1180px......................................... */

    body{
        font-size: 1rem ;
        margin: 1rem 2.5rem 2.5rem 2.5rem;
    }

    h2{
        margin-left: 5rem;
    }
    

    /* Header 1180px....................................... */

    .header__image{
        height: auto;
        width: 14rem;
    }

    /* Localisation 1180px................................. */

    .localisation{
        height: 4rem;
        font-size: 1.2rem;
        padding-top: 1rem;
    }

    /* Reservation 1180px.................................. */

    .reservation{
        display: flex;
        justify-content: space-around;
        height: 9rem;
    }

    .reservation__txt{
        line-height: 3rem;
    }

    .reservation__explorer{
        padding-top: 2rem;
    }

    .reservation__bouton{
        padding: 1.3rem;
        font-size: 1rem;
        
    }

}




/* RESPONSIVE 800px.................................. */


@media (min-width:800px){

    /* Fonctionnement 800px.......................... */


    .fonct__menu{
        display: flex;
        flex-direction: row;
    }

    .fonct__sousmenu{
        margin: 1.5rem;
    }

    /* Restaurants 800px............................. */

    .restau{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:
        "rt rt"
        "rp rn"
        "rf rd";
    }

    .restau__apercu{
        width: 25rem;
        height: 15rem;
        margin-left: 12rem;
        box-shadow: 5px 10px 5px #E6E6E6;
    }

    .reservation__texte{
        padding: 0.5rem;
    }

    .restau__titre{
        grid-area: rt;
        margin-bottom: 1rem;
    }

    .restau__palette{
        grid-area: rp;
    }

    .restau__note{
        grid-area: rn;
    }

    .restau__fr{
        grid-area: rf;
    }

    .restau__delice{
        grid-area: rd;
    }

    /* Footer 800px......................... */

    h3{
        font-size: 1.5rem;
    }

}






/* RESPONSIVE 675px........................................... */



@media (min-width:675px){
    
    /* Fonctionnement.......................................... */
    .fonct__number{
        width: 3rem;
        height: 3rem;
    
        margin-left: -4.5rem;
    }
    
    /*Restaurant..............................................  */

    .restau__apercu{
        margin-left: 8rem;
        height: 16rem;
        width: 60%;
    }

}






/* RESPONSIVE 500px................................. */


@media (min-width:500px){

    /* Fonctionnement 500px......................... */

    .fonct__sousmenu{
        padding: 1.5rem;
        font-size: 1.1rem;
    }

    .fonct__number{
        margin-left: -3.1rem;
        width: 1.7rem;
        height: 1.7rem;
    }

    /* Restaurants................................... */
    
    
    .restau__apercu{
        margin-left: 3rem;
        height: 14rem;
        width: 80%;
    }
    

    /* Footer 500px.................................. */

    .footer{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 3rem 3rem 3rem;
        grid-template-areas: 
        ". ft ."
        "fu . fm"
        "fh . fc";
        padding-left: 2rem;
        font-size: 1rem;
    }


    h3{
        grid-area: ft;
    }

    .footer__ustensil{
        grid-area: fu;
    }

    .footer__hand{
        grid-area: fh;
    }

    .footer__mention{
        grid-area: fm;
    }

    .footer__contact{
        grid-area: fc;
    }


}




/* RESPONSIVE 400px...................................... */


@media (min-width:400px){
    .fonct__sousmenu{
        width: 60%;
        height: auto;
        font-size: 1rem;
    }
}
