*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem ;
}

.icone{
    margin-right: 0.5rem;
}

h2{
    padding-bottom: 1rem;
}


/* Header......................................... */

.header{
    /* border: solid 2px green; */

    text-align: center;
}

.header__image{
    height: auto;
    width: 10rem;
}


/* Localisation................................... */

.localisation{
    /* border: solid 2px red; */

    background: #EAEAEA;
    display: flex;
    justify-content: center;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: solid 2px #CCCCCC;
    margin-top: 1rem;
}


/* Réservation.................................... */

.reservation{
    background: #F6F6F6;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.reservation__txt{
    /* border: solid 2px purple; */

    text-align: center;
}

.reservation__explorer{
    /* border: solid 2px blue; */

    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.reservation__bouton{
    border-radius: 20rem;
    padding: 0.75rem;
    background: linear-gradient(#EB73DA, #9356DC);
    font-weight: bold;
    color: white;
    border: none;
}

/* Fonctionnement................................. */

.fonct{
    /* border: solid 2px green; */
    margin-top: 1.5rem;
}

.fonct__sousmenu{
    /* border: solid 2px purple; */

    display: flex;
    justify-content: space-between;
    align-items: baseline;

    margin: 0 auto 1rem auto;
    padding: 1rem;
    border-radius: 1rem;

    width: 80%;
    background: #F6F6F6;
    box-shadow: 5px 10px 5px #E6E6E6;

    font-weight: bold;

}

.fonct__number{
    background: #9356DC;
    color: white;

    width: 1.5rem;
    height: 1.5rem;
    border-radius: 20px;

    text-align: center;
    padding-top: 0.2rem;

    margin-left: -1.5rem;
}


/* Restaurants.................................... */

.restau{
    /* border: solid 2px fuchsia; */
    
    margin-top: 2rem;
    padding-top: 2rem;
    background: #F6F6F6;
}


.restau__apercu{
    /* border: solid 2px red; */

    border-radius: 1rem;
    margin-bottom: 1rem;
    height: 12.5rem;

    background: white; 
}


.restau__photo{
    object-fit: cover;
    width: 100%;
    height: 70%;
    max-width: 100%;
    max-height: 100%;

    border-radius: 1rem 1rem 0 0;

    position: relative;
}


span{
    background: #99e2d0;
    position: absolute;
    margin-left: -5rem;
    margin-top: 1rem;
}

.restau__texte{
    /* border: solid 2px blue; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 2rem 0.5rem 0.75rem;
}


/* Footer......................................... */

.footer{
    /* border: solid 2px blue; */

    background: #353535;
    color: white;

    padding: 1rem;
   
    line-height: 1.5rem;
}

h3{
    font-family: 'Shrikhand', cursive;
    font-weight: lighter;
    padding-bottom: 0.5rem;
}

.footer__line{
    display: flex;
    align-items: baseline;
}




/* RESPONSIVE.............................................. */

@media (min-width:1180px){


    /* Body 1180px......................................... */

    body{
        font-size: 1rem ;
    }
    

    /* Header 1180px....................................... */

    .header__image{
        height: auto;
        width: 14rem;
    }

    /* Localisation 1180px................................. */

    .localisation{
        height: 4rem;
        font-size: 1.2rem;
        padding-top: 1rem;
    }

    /* Reservation 1180px.................................. */

    .reservation{
        display: flex;
        justify-content: space-around;
        height: 9rem;
    }

    .reservation__txt{
        line-height: 3rem;
    }

    .reservation__explorer{
        padding-top: 2rem;
    }

    .reservation__bouton{
        padding: 1.3rem;
        font-size: 1rem;
        
    }

    /* Fonctionnement 1180px............................... */
   
    .fonct__menu{
        display: flex;
        flex-direction: row;
    }

    .fonct__sousmenu{
        display: flex;
        justify-content: space-around;
        margin: 2rem;
        padding: 2rem;
        width: 30%;

        font-size: 1.3rem;
    }

    .fonct__number{
        width: 2rem;
        height: 2rem;
    
        margin-left: -4.6rem;
    }

     /* Restaurants 1080px.................................. */

}

